name: Zest CD (Main)

on:
  pull_request:
    branches: ["main"]

jobs:
  deploy:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Set up SSH key for match repo
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.MATCH_DEPLOY_KEY }}" > ~/.ssh/id_rsa_match
          chmod 600 ~/.ssh/id_rsa_match
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_rsa_match
          ssh-add -l
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts
          echo "Host github.com
            HostName github.com
            IdentityFile ~/.ssh/id_rsa_match
            StrictHostKeyChecking no" >> ~/.ssh/config
          chmod 600 ~/.ssh/config

      - name: Setup CI Keychain
        run: |
          KEYCHAIN="ci.keychain"
          KEYCHAIN_PASSWORD="ci_pass"
          security create-keychain -p "$KEYCHAIN_PASSWORD" "$KEYCHAIN"
          security list-keychains -d user -s "$KEYCHAIN" login.keychain
          security default-keychain -s "$KEYCHAIN"
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" "$KEYCHAIN"
          security set-keychain-settings -lut 21600 "$KEYCHAIN"

      - name: Run fastlane match
        env:
          MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}
          KEYCHAIN: ci.keychain
          KEYCHAIN_PASSWORD: ci_pass
          APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_CONTENT: ${{ secrets.APP_STORE_CONNECT_API_KEY_CONTENT }}
          GIT_SSH_COMMAND: ssh -i ~/.ssh/id_rsa_match -o StrictHostKeyChecking=no
        run: |
          bundle exec fastlane match appstore \
            --keychain-name "$KEYCHAIN" \
            --keychain-password "$KEYCHAIN_PASSWORD" \
            --readonly true \
            --git-branch "master" \
            --clone-branch-directly true

      - name: Fix codesign keychain permission
        run: |
          security set-key-partition-list \
            -S apple-tool:,apple:,codesign: \
            -s -k "$KEYCHAIN_PASSWORD" "$KEYCHAIN"

      - name: Build & Upload to TestFlight
        env:
          APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_CONTENT: ${{ secrets.APP_STORE_CONNECT_API_KEY_CONTENT }}
          KEYCHAIN: ci.keychain
          KEYCHAIN_PASSWORD: ci_pass
        run: |
          bundle exec fastlane beta
